body{
    margin: 0px;
    padding: 0px;
}

div{
    margin-top: 10px;
    margin-left: 10px;
}

.container{
    padding: 20px;
}

.dis-block{
     display: inline-block;
}

.dis-flex{
    display: flex;
}
.square{
    width: 100px;
    height: 100px;
    background: aquamarine;
}

.rectangle{
    width: 200px;
    height: 100px;
    background: aquamarine;
}


.circle{
    width: 100px;
    height: 100px;
    background: aquamarine;
    border-radius: 50%;
}


.ellipse{
    width: 200px;
    height: 100px;
    background: aquamarine;
    border-radius: 50%;
    border-radius: 100px/50px;
}


.border-mechanism{
    width: 0;
    height: 0;
    background: aquamarine;
    border-top: 50px solid green;
    border-bottom: 300px solid red;
    border-left: 200px solid blue;
    border-right: 100px solid pink;
}

.triangle-up{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 173px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.triangle-down{
    width: 0;
    height: 0;
    border-top: 173px solid red;
    border-bottom: 0px solid transparent;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.triangle-left{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 0px solid transparent;
    border-right: 173px solid red;
}

.triangle-right{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 173px solid red;
    border-right: 0px solid transparent;
}

.rhombus-1{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 173px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: relative;
}

.rhombus-2{
    margin:0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 173px solid red;
    border-bottom: 0px solid transparent;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}

.parallelogram-1{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 173px solid red;
    border-left: 100px solid transparent;
    border-right: 300px solid transparent;
    position: relative;
}

.parallelogram-2{
    margin:0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 173px solid red;
    border-bottom: 0px solid transparent;
    border-left: 300px solid transparent;
    border-right: 100px solid transparent;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}

.kite-1{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50px solid red;
    position: relative;
}

.kite-2{
    margin:0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 50px solid red;
    border-right: 0px solid transparent;
    top: -100px;
    bottom:0;
    left: 50px;
    right:0;
}

.trapizium{
    margin-left: 100px;
    width: 100px;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 173px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.irregular-shape{
    margin-left: 100px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 150px solid red;
}