.bg-c11{
    background: aliceblue;
}
.bg-c12{
    background: skyblue;
}
.bg-c13{
    background: lightgoldenrodyellow;
}
.bg-c21{
    background: lightgray;
}
.bg-c22{
    background: lightgreen;
}
.bg-c23{
    background: lightpink;
}
